
* {
  margin: 0;
  padding: 0;
}
html {
    height: 100%;
    width: 100%;
}
body {
  background-repeat: inherit;
  background-image: url("./assets/background-landing.png");
  height: 100%;
  background-color: rgb(0, 0, 0);
}
#all-elements{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
#buttons{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}
#all-elements img{
    background-size: contain;
}
#game-name {
color: rgb(255, 255, 255);
  font-family:monospace;
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
justify-content:center;
    align-items:center;
}
header .landing {
  max-width: 100%;
  max-height: 100%;
}

#start-game {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #d7fff5 5%, #999999 100%);
	background-color:#999999;
	border-radius:6px;
	border:1px solid #d7fff5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #999999;
    margin-top: 20px;
    margin-right: 2px;
}
#start-game:hover {
	background:linear-gradient(to bottom, #999999 5%, #d7fff5 100%);
	background-color:#d7fff5;
}
#start-game:active {
	position:relative;
	top:1px;
}
#how-to-play {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #d7fff5 5%, #999999 100%);
	background-color:#999999;
	border-radius:6px;
	border:1px solid #d7fff5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #999999;
    margin-top: 20px;
    margin-right: 2px;
}
#how-to-play:hover {
	background:linear-gradient(to bottom, #999999 5%, #d7fff5 100%);
	background-color:#d7fff5;
}
#how-to-play:active {
	position:relative;
	top:1px;
}

.gameOver{
    font-family: monospace;
    font-size: 100px;
    color: white;
    margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
justify-content:center;
    align-items:center;
    flex-direction: column;
}