* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  background-repeat: inherit;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-image: url("./assets/background-landing.png");
  
}

.timer{
  margin: 50px;
  color: white;
}
#page-1 {
  background-repeat: no-repeat;
  height: 100%;
  visibility: visible;
  margin-top: 100px;
  
}
#page-2 {
  visibility: hidden;
  display: none;
  height: 800px;
  color: white;
  font-size: 24px;
  font-family: monospace;
  flex-direction: column;
}
#page-3 {
  height: 100px;
  visibility: hidden;
  display: none;
  color: white;
  font-size: 24px;
  font-family: monospace;
  justify-content: center;
  align-items: center;
}
.rightAnswerPop{
  display: none;
  align-items: center;
  flex-direction: column;
  position: fixed; /* or absolute */
  top: 25%;
  left: 20%;
  right: 20%;
  z-index: 20;
}
.rightAnswerPop:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.2413340336134454) 100%);
  z-index: -10;
}
.wrongAnswerPop{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed; /* or absolute */
  top: 25%;
  left: 20%;
  right: 20%;
  z-index: 20;
}
.wrongAnswerPop:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.2413340336134454) 100%);
  z-index: -10;
}
.tryAgainPop{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed; /* or absolute */
  top: 25%;
  left: 20%;
  right: 20%;
  z-index: 20;
}
.tryAgainPop:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.2413340336134454) 100%);
  z-index: -10;
}
.wrongAnswer{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 350px;
  height: 320px;
}
.rightAnswer{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 600px;
  height: 420px;
}
.tryAgain{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 600px;
  height: 420px;
}
#page-4 {
  background-repeat: no-repeat;
  height: 100%;
  visibility: hidden;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.question {
  font-size: 30px;
  font-family: monospace;
  color: #000000;
  justify-content: center;
  align-items: center;
}
.option {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #d7fff5 5%, #999999 100%);
  background-color: #999999;
  border-radius: 6px;
  border: 1px solid #d7fff5;
  cursor: pointer;
  color: #000000;
  font-family: Arial;
  font-size: 15px;
  font-weight:normal;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #999999;

  margin-top: 20px;
  margin-right: 2px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  display: none;
}
.option:hover {
  background: linear-gradient(to bottom, #999999 5%, #d7fff5 100%);
  background-color: #d7fff5;
}
.overlay{
  display: none;
  align-items: center;
  flex-direction: column;
  position: fixed; /* or absolute */
  top: 35%;
  left: 20%;
  right: 20%;
  z-index: 20;
}
.overlay:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.2413340336134454) 100%);
  z-index: -2;
}

.overlay:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.rules{
  background-color: rgba(255, 255, 255, 0.747);
  color: #941e00;
  padding: 5%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rules>h2{
  padding: 5%;
  font-family: monospace;
  font-size: 46px;
}
.rules>p{
  padding: 2%;
  font-style: italic;
  font-size: 18px;
}
#returnBtn {
  box-shadow: inset 0px 1px 0px 0px #ffddd3;
  background: linear-gradient(to bottom, #ffc8c8 5%, #eb8686 100%);
  background-color: #eb8686;
  border-radius: 6px;
  border: 1px solid #ffc8c8;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #eb8686;
  margin-top: 20px;
  margin-right: 2px;
  flex-direction: column;
}
#returnBtn:hover {
  background: linear-gradient(to bottom, #eb8686 5%, #ffc8c8 100%);
  background-color: #ffc8c8;
}
#returnBtn:active {
  position: relative;
  top: 1px;
}
#backBtn{
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #d7fff5 5%, #999999 100%);
  background-color: #999999;
  border-radius: 6px;
  border: 1px solid #d7fff5;
  display: none;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #999999;
  text-align: center;
  margin-top: 20px;
  padding: 1%;
  width: 100px;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
  position:relative;
  left: 45%;
}
#backBtn:hover {
  background: linear-gradient(to bottom, #999999 5%, #d7fff5 100%);
  background-color: #d7fff5;
}
#backBtn:active {
  position: relative;
  top: 1px;
}
#all-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 100px;
}
#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#all-elements img {
  background-size: contain;
}
#game-name {
  color: rgb(255, 255, 255);
  font-family: monospace;
  font-size: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .landing {
  max-width: 100%;
  max-height: 100%;
}

#start-game {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #d7fff5 5%, #999999 100%);
  background-color: #999999;
  border-radius: 6px;
  border: 1px solid #d7fff5;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #999999;
  margin-top: 20px;
  margin-right: 2px;
}
#start-game:hover {
  background: linear-gradient(to bottom, #999999 5%, #d7fff5 100%);
  background-color: #d7fff5;
}
#start-game:active {
  position: relative;
  top: 1px;
}
#how-to-play {
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: linear-gradient(to bottom, #d7fff5 5%, #999999 100%);
  background-color: #999999;
  border-radius: 6px;
  border: 1px solid #d7fff5;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #999999;
  margin-top: 20px;
  margin-right: 2px;
}
#how-to-play:hover {
  background: linear-gradient(to bottom, #999999 5%, #d7fff5 100%);
  background-color: #d7fff5;
}
#how-to-play:active {
  position: relative;
  top: 1px;
}

.option,
.startBtn {
  height: 50px;
  width: 200px;
  text-align: center;
  font-size: 17px;
  background: white;
  cursor: pointer;
  padding: 10px;
}

.option:hover,
.startBtn:hover {
  background: grey;
}

/* Magnifier Glass */
/* .image-dundies-zoom{
    position: relative; 
} */

/* .img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none; */
  /*Set the size of the magnifier glass:*/
  /* width: 100px;
  height: 100px;
} */
#score{
  font-size: 32px;
  font-family: monospace;
  text-align: center;
  margin-top: 70px;
  margin-left: 55px;
  margin-right: 55px;
  padding: 1%;
  background: linear-gradient(270deg, #4b4b4b, #878786, #f3f3f3);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}
@-webkit-keyframes AnimationName {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}
@keyframes AnimationName {
  0%{background-position:0% 10%}
  50%{background-position:100% 91%}
  100%{background-position:0% 10%}
}



  .container {
    position: relative;
    height: 80%;
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    color: white;
    font-size: 18px;

  }
  .hover {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all 100ms ease-out;
  }
  .hover:hover {
    transform: scale(1.04);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  .audio{
    width:100px;
    height: 50px;
    display:none;
  }